@tailwind base;
@tailwind components;
@tailwind utilities;

.button-active {
  transform: scale(0.95);
  border-radius: 1rem;
}

.button-nonactive {
  opacity: 0.3;
}

.landing {
  background: url("../public/landing.jpg");
  background-position: center;
  background-size: cover;
}
.logo {
  background: url("../public/DG.gif");
  background-position: center;
  background-size: cover;
}
